[INPUT]
    Name              tail
    Path              /var/log/app/*.log
    Tag               endpoint.applog

[OUTPUT]
    Name              http
    Match             endpoint.applog
    Host              ${HUB_HOST}
    Port              ${HUB_PORT}
    URI               /ingest/
    Format            json
    tls               ${TLS_ENABLED}

    Header            CF-Access-Client-Id ${CF_ACCESS_CLIENT_ID}
    Header            CF-Access-Client-Secret ${CF_ACCESS_CLIENT_SECRET}
    Header            X-Endpoint-Id ${ENDPOINT_ID}
    Header            X-Tenant-ID ${TENANT_ID}
    Retry_Limit       5
